<div class="row align-content-center justify-content-center">
  <div class="col-12">
    <div class="row align-content-center justify-content-center">
      <div class="col-4 text-center">
        <h1 class="text-white font-weight-bold">TYPESTY</h1>
      </div>
    </div>
  </div>
  <div class="col-12">
      <div class="row">
        <div class="col-3">
          <label for="upload" class="mt-2 btn btn-block btn-dark">Cargar Archivo</label>
          <input
            type="file"
            #tySubida
            id="upload"
            name="tySubida"
            style="display: none"
            accept="application,.ty"
            (input)="cargar($event)"
          />
        </div>
        <div class="col-3">
          <label for="GUARDAR" class="mt-2 btn btn-block btn-dark">Guardar Archivo</label>
          <input
            id="GUARDAR"
            type="button"
            style="display: none"
            accept="application,.ty"
            (click)="guardar()"
          />
        </div>
        <div class="col-3" href="#">
          <label for="AST" class="mt-2 btn btn-block btn-dark">Generar AST</label>
          <input
            id="AST"
            type="button"
            style="display: none"
            accept="application,.ty"
            (click)="graficar()"
          />
        </div>
        <div class="col-3" href="#">
          <label for="Eliminar" class="mt-2 btn btn-block btn-dark">Eliminar Pestañas</label>
          <input
            id="Eliminar"
            type="button"
            style="display: none"
            accept="application,.ty"
            (click)="eliminartodas()"
          />
        </div>
      </div>
  </div>
</div>
<div class="scroll_main m-0 p-0">
  <div class="row">
    <div class="col-12">
      <dx-toolbar class="moduleToolbar" [items]="Options"></dx-toolbar>
      <div class="default">
        <div class="row">
          <div class="col-12 " style="background-color: #282a36;">
            <dx-tab-panel style="height: 46vh;"
              [dataSource]="tabs"
              [selectedIndex]="0"
              [loop]="false"
              [animationEnabled]="true"
              [showNavButtons]="true"
              [swipeEnabled]="false"
              (onSelectionChanged)="seleccionartab($event)"
              [selectedIndex]="Num">
              <div *dxTemplate="let element of 'title'">
                <span>{{ element.ID }}</span><i *ngIf="showCloseButton()" class="dx-icon dx-icon-close mr4" (click)="eliminartab()"></i>
              </div>
              <div *dxTemplate="let element of 'item'">
                  <ngx-codemirror
                  [(ngModel)]="element.CONTENIDO"
                  (ngModelChange) = "actualizarContent(element.CONTENIDO)"
                  [options]="{
                    theme: 'dracula',
                    mode: 'go',
                    lineNumbers: true,
                    styleActiveLine: true
                  }"
                  ></ngx-codemirror>
              </div>
            </dx-tab-panel>
          </div>
          <div class="col-12 mt-2" style="height:35vh;">
            <ngx-codemirror
            [(ngModel)]="CONSOLA"
            [options]="{
              theme: 'dracula',
              mode: 'go',
              readOnly: true,
              lineNumbers: true
            }"
            ></ngx-codemirror>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12 scroll">
            <table class="table table-dark">
              <thead style="background-color: #476678;">
                <tr style="background-color: #484c4e;">
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Grupo</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Fila</th>
                  <th scope="col">Columna</th>
                  <th scope="col">Ambito</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let simbolo of SIMBOLOS">
                  <td>{{ simbolo.numero }}</td>
                  <td>{{simbolo.ID}}</td>
                  <td>{{ simbolo.grupo }}</td>
                  <td>{{ simbolo.tipo }}</td>
                  <td>{{ simbolo.fila }}</td>
                  <td>{{ simbolo.columna }}</td>
                  <td>{{ simbolo.ambito }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12 scroll">
            <table class="table table-dark">
              <thead style="background-color: #476678;">
                <tr style="background-color: #484c4e;">
                  <th scope="col">#</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Fila</th>
                  <th scope="col">Columna</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let error of ERRORES">
                  <td>{{ error.numero }}</td>
                  <td>{{ error.tipo }}</td>
                  <td>{{ error.descripcion }}</td>
                  <td>{{ error.fila }}</td>
                  <td>{{ error.columna }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
